*{
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;

}
.text{
 height: 330px;
 width: 520px;
 resize: none;
 margin-left: 200px;
 background-color: #2B2B2B;
 border: 1px solid #423F3E;
 border-radius: 10px;
 color: aliceblue;
 cursor: default
}




.submit--btn{
     margin-top: 100px;
     margin-left: -245px;
     
}

.clear--btn{
  margin-left: -220px;
  margin-top: 100px;
}

.output{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 605px;
  border: 1px solid #423F3E;
  background-color: #2B2B2B;
  margin-left: 670px;
  margin-top: -400px;
  border-radius: 10px
}



.out{
  font-family: 'Lato', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Slab', serif;

 
}


.input{
  color: white;
  font-family: 'Lato', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Slab', serif;

 

}

.guide{
  color: white;
  margin-top: -270px;
  margin-left: 250px;
  height: 270x;
  width:500px;
font-family: 'Noto Sans', sans-serif;
align-items: center;
}

.headline {
  display: flex;
  flex-direction: row-reverse;
  height: 55px;
  justify-content: center;
  background-color: black;
  align-items: center;
}


.h1{
  margin: 0;
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}

p{
  margin-left: 20px;
}
.loader{
  width: 150px; 
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
}
.loader,
.loader:before {
  --_g: linear-gradient(#35c8f1 0 0) 50%;
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}
.loader:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}




